GameClientSide/Interface/Connected Services/GameService/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/Design_Time_Addresses/GameServiceLibrary/GameService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Model" />
  <xs:element name="InsertUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="user" nillable="true" type="q1:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertUserResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertScore">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="score" nillable="true" type="q2:Score" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertScoreResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertScoreResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Update">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="user" nillable="true" type="q3:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Delete">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="user" nillable="true" type="q4:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveChanges">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveChangesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveChangesResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllUsers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllUsersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="GetAllUsersResult" nillable="true" type="q5:UserList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="GetUserByIdResult" nillable="true" type="q6:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserByUsername">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserByUsernameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="GetUserByUsernameResult" nillable="true" type="q7:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllRoles">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllRolesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="GetAllRolesResult" nillable="true" type="q8:RoleList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRoleById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRoleByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="GetRoleByIdResult" nillable="true" type="q9:Role" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRoleByType">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRoleByTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="GetRoleByTypeResult" nillable="true" type="q10:Role" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllScores">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllScoresResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="GetAllScoresResult" nillable="true" type="q11:ScoreList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetScoreById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetScoreByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="GetScoreByIdResult" nillable="true" type="q12:Score" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetScoresByUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="user" nillable="true" type="q13:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetScoresByUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="GetScoresByUserResult" nillable="true" type="q14:ScoreList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetScoresByRole">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="role" nillable="true" type="q15:Role" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetScoresByRoleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="GetScoresByRoleResult" nillable="true" type="q16:ScoreList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NewGame">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="user" nillable="true" type="q17:User" />
        <xs:element minOccurs="0" name="level" type="xs:int" />
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="role" nillable="true" type="q18:Role" />
        <xs:element minOccurs="0" name="points" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NewGameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NewGameResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>